.top{
    width: 100%;
    height: 70px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
}

.topCenter{
    flex: 6;
}


.topLeft,.topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: black;
    cursor: pointer;
}

.topImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem{
    margin-right: 20px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}

.topSearchIcon{
    font-size: 20px;
    color: #000;
    cursor: pointer;
    margin-left: 15px;
}
